@charset 'UTF-8';
@import 'elements';
@import 'resets';
@import 'font';
@import 'form';
@import 'common';
@import 'typography';

a {
  -webkit-transition: color .3s linear;
     -moz-transition: color .3s linear;
          transition: color .3s linear;
  text-decoration: underline;
  color: @link-color;

  &:hover {
    color: @link-color-hover;
  }
}

html {
position: relative;
}

body, html {
min-height: 100%;
}

body {
  font-family: @font-family;
  font-size: @font-size-base;
  min-width: @container-sm;
  color: @text-color;
  background: @body-bg;
  -webkit-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

.wrap-page {
  position: relative;
  min-width: @container-sm;
  min-height: 100%;
  background-color: @body-bg;
}

.wrap {
  position: relative;
  min-width: @container-sm;
  max-width: @container-lg;
  margin: 0 auto;
  padding: 0 10px;
}

.site-header {
  width: 100%;
  background-color: @bg-color-1;
  .logo {
    a {
    	display: block;
    	img {
    		max-width: 100%;
    	}
    }
  }
}

/**footer**/

.hfooter {
  clear: both;
  height: 140px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
